%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {mochiweb, ".*",
         {git, "http://github.com/mochi/mochiweb.git", "master"}}
%% Those are dependencies, but not regular apps
%%        {bert, ".*", {git, "http://github.com/mojombo/bert.git", "master"}}
%%        {bert_js, ".*", {git, "http://github.com/rustyio/BERT-JS.git", "master"}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
